@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


#root {
  max-width: 99vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* lavendar primary with light and dark mode for backgrounds */
@theme{
  
}
@layer base {
  body {
    background-color: #f3f4f6; /* light mode */
    color: #111827; /* dark text */
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #111827; /* dark mode */
      color: #f3f4f6; /* light text */
    }
  }
}