@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  body {
    background-color: #f3f4f6;
    /* light mode */
    color: #111827;
    /* dark text */
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #111827;
      /* dark mode */
      color: #f3f4f6;
      /* light text */
    }
  }
}